<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="margin: 0;font-family: arial">
<table style="width: 100%;">
  <tr>
    <td>
      <table style="width: 100%; border-spacing: 0;">
        <tr>
          <td style="color: #2e2e2e;font-size: 17px;line-height: 1;">
            <h2 style="font-size: 21px;">Thông tin liên hệ</h2>
            <p style="margin-top: 0">Họ và tên: <strong style="color: #ffa800">{{fullname}}</strong></p>
            <p style="margin-top: 0;">Email: {{email}}</p>
            <p style="margin-top: 0;">Điện thoại: {{phone}}</p>
            <p style="margin-top: 15px;">Nội dung: {{content}}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>